<launch>
    <node pkg="hw3_1" type="distance_service.py" name="distance_service">
    </node>

    <node pkg="hw3_1" type="distance_from_srv.py" name="distance_from_srv">
    </node>

    <node pkg="hw3_1" type="distance_lidar.py" name="distance_lidar" output="screen">
    </node>
    
    <include file="$(find hw3_1)/launch/world.launch">
        <arg name="x_pos" value="0.0"/>
        <arg name="y_pos" value="0.0"/>
        <arg name="z_pos" value="0.0"/>
    </include>
</launch>
