<launch>
    <node pkg="project" type="build_map.py" name="build_map" output="screen">
    </node>
    
    <include file="$(find project)/launch/world.launch">
        <arg name="x_pos" value="0.0"/>
        <arg name="y_pos" value="0.0"/>
        <arg name="z_pos" value="0.0"/>
    </include>

    <include file="$(find project)/launch/mapping.launch">
    </include>
</launch>
